{% extends "base_map.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" >
            <img src="{% static 'advocate-logo.png'%}">
        </a>
        <h1>Word-of-mouth marketing made easy</h1>
        <p>Cette application a pour objectif de présenter, à travers un use-case assez simple, les technologies que nous mettons à votre service.</p>
        <a type="button" class="btn btn-lg btn-default" href="http://www.trust-advocate.co/">
            <span class="glyphicon glyphicon-link"></span> Visitez notre site
        </a>
        <a type="button" class="btn btn-lg btn-primary" href="mailto:zapfackfabrice@yahoo.fr">
            <span class="glyphicon glyphicon-download"></span> Contactez nous
        </a>
    </div>
</div>
<div class="container">
    <div class="alert alert-info text-center" role="alert">
        Cette application est une petite illustration de ce que nous faisons pour nos clients. Visitez notre <a href="http://www.trust-advocate.co/" class="alert-link">site</a> pour plus de détails sur nos offres.
    </div>
    <hr>
    <div class="row ">
        <div class="">
            <h3 class="text-center"><span class="glyphicon glyphicon-info-sign "></span> Comment ca marche</h3>
            Nous avons décidé de vous montrer comment notre technologie peut être utilisée afin d'analyser en temps réel le <b>sentiment</b> de tweets contenant un hashtag en temps réel.
            En cette période électorale, le hashtag choisi fut: <b> #macron</b>. <br/>
            En effet l'analyse automatique de tweets en général et de tweets politiques en particulier est une tâche très délicate car les messages sont souvent implicites et le second dégré est fréquemment employé.
            <br/>
            Les resultats seront présentés sous la forme d'une carte de la France montrant la popularité d'Emmanuel Macron (voir exemple ci-dessous).
        </div>
    <br />
    </div> <!-- row -->
    <div class="alert alert-warning text-center" role="alert">
        <strong class="alert-link glyphicon glyphicon-alert">  Disclaimer</strong>:
        Ce travail ne reflète en aucun cas l'opinion politique de l'entreprise ou de ses employés. Le choix du candidat "Emanuel Macron" a été fait purement aléatoirement.
    </div>
    <hr>


    <div class="row">
        <div class="col-md-7">
{#            <div id="regions_div"  class="thumbnail pagination-centered text-center center-block" style="width: 570px; height: 360px;">#}
{#            </div>#}
            <h4 class="text-center"> <u> {{ num_local }} tweets localisés</u> : Cliquer sur une région pour plus d'informations</h4>
            <div id="map" class="thumbnail col-md-8 text-center" style="width: 50em; height: 50em;"></div>
        </div>

        <div class="col-md-5 text-center">
            <h4> <u>Répartition des tweets</u></h4>
            <br />
            <div id="donut-labels" style="margin-top: 5em;"></div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var pos = {{ num_pos }};
    var neg = {{ num_neg }};
    var net = {{ num_net }};
    Morris.Donut({
        element: 'donut-labels',
        data: [
            {label: "Tweets Négatifs", value: pos},
            {label: "Tweets Neutres", value: neg},
            {label: "Tweets Positifs", value: net}
        ],
        colors:['#e60000', '#ffff68', '#00b300']
    });
</script>


{#<div id="map" class="thumbnail container text-center" style="width: 30em; height: 40em;"></div>#}
<script>
    var map;
    function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
    zoom: 6,
    center: {lat: 46.2276, lng: 2.2137}
    });
    var data = '{{ geojson|escapejs }}';
    var data_json = JSON.parse(data);
    var infowindow = new google.maps.InfoWindow({});
    map.data.addGeoJson(data_json);

    map.data.setStyle(function(feature) {
        var color = feature.getProperty('color');
        return {
          fillColor: color,
          strokeWeight: 1
        };
    });


    // When the user hovers, tempt them to click by outlining the letters.
  // Call revertStyle() to remove all overrides. This will use the style rules
  // defined in the function passed to setStyle()
    map.data.addListener('mouseover', function(event) {
        map.data.revertStyle();
        map.data.overrideStyle(event.feature, {strokeWeight: 8});

    });

    map.data.addListener('mouseout', function(event) {
        map.data.revertStyle();
        infowindow.close();
    });

    map.data.addListener('click', function(event) {
        infowindow.setContent(
                "<h5><u>"+event.feature.getProperty('name')+"</u>: " + event.feature.getProperty('num_tweets') + " tweets</h5> " +
                "<p><b>Tweets positifs:" + event.feature.getProperty('reg_num_pos') + "</p></b>"+
                "<p><b>Tweets négatifs:" + event.feature.getProperty('reg_num_neg') + "</p></b>"+
                "<p><b>Tweets neutres:" + event.feature.getProperty('reg_num_net') + "</p></b>");
        infowindow.setPosition(event.feature.getProperty('position'));
        infowindow.open(map);
    });
    }



    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBivhEaLebOwZmguQz7RCfSWPYZP0wJ2Ak&signed_in=true&callback=initMap">

    </script>

{% endblock %}
