{#<div id="map" class="thumbnail container text-center" style="width: 40%; height: 70%;"></div>#}
<script>
    var map;
{#    var d = {{ geojson }};#}
    alert('{{ geojson }}');
    function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
    zoom: 6,
        center: {lat: -28, lng: 137}
{#    center: {lat: 46.2276, lng: 2.2137}#}
    });

    // NOTE: This uses cross-domain XHR, and may not work on older browsers.
{#    map.data.loadGeoJson("{% static "regions.geojson" %}");#}
    var a = document.getElementById("MyEdit");
    a.innerHTML = typeof d;
{#    d = JSON.parse("{{ geojson_data|escapejs }}");#}
    map.data.addGeoJson(d);

{#    map.data.setStyle(function(feature) {#}
{#        var color = feature.getProperty('color');#}
{#        return {#}
{#          fillColor: color,#}
{#          strokeWeight: 1#}
{#        };#}
{#    });#}
    }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBivhEaLebOwZmguQz7RCfSWPYZP0wJ2Ak&signed_in=true&callback=initMap">

    </script>