{% extends "base2.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <h1>
            <i style="color:red;" class="fa fa-heart fa-1x" aria-hidden="true"></i>
            Help me please
            <i style="color:red;" class="fa fa-heart fa-1x" aria-hidden="true"></i>
        </h1>
        <p>Ci-dessous vont apparaitre les tweets les plus récents avec le hashtag <strong>"#macron"</strong>.
            Please indique si le tweet en question est <strong>"positif"</strong>, <strong>"négatif"</strong> ou
            <strong>"neutre"</strong>.
        </p>
        <i class="fa fa-smile-o fa-spin fa-4x" aria-hidden="true"></i>
    </div>
</div>

<div class="row col-md-12">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bell fa-fw"></i> Leaderboard</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    {% for p in prof_list %}
                    <a href="#" class="list-group-item">
                        <span class="badge"> {{ p.num_tweets_labelled }} tweets</span>
                        <i class="fa fa-fw fa-user"></i> {{ p.user }}
                    </a>
                    {% endfor %}
                </div>
                <div class="text-right">
                    <a href="#">View All users <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-arrow-circle-right fa-fw"></i>
                    <strong> Quel est le sentiment du tweet suivant:  </strong>
                    <p>
                        (<strong>{{ num_labels }} </strong> tweets labelisés manuellement.
                        <strong>{{ num_test_correct }}</strong> bonnes prédictions sur
                        <strong>{{ num_test }}</strong> tweets en test).
                    </p>
                </h3>


            </div>
            <div class="panel-body text-center">
                {% if tweet.txt %}
        {#                <h2 class="text-center"></h2>#}
                        <strong style="font-size:1.2em"> <u> @{{ tweet.usr_screen_name}} a dit à propos de Macron:</u> </strong>
                        <br /> <br />
                        <div class="col-md-offset-1">
                            <p style="font-size:1.6em">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                {{ tweet.txt }}
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                            </p>
                            <br />
                            <strong style="font-size:1.2em"> <u> A l'égard de Macron, nous pensons que ce tweet est: </u> </strong>
                            <br /><br />
                            <p style="font-size:1.3em">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                {{ prediction }}
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                            </p>
                            <br />

                            <form class="form-horizontal" action="" method="post"> {% csrf_token %}
                                <div class="col-xs-4 text-center col-xs-offset-4">
                                    {{ form|crispy }}
                                    <input type="submit" value="Tweet Suivant" class="btn btn-primary"/>
                    {#                <input type="submit" value="Terminer" class="btn btn-success"/>#}
                                </div>
                            </form>
                        </div>

                {% else %}
                    <div class="text-center col-md-offset-1">
                        <h2 class="text-center"> Aucun tweet récent à labeliser.
                            Pouvez vous réessayer plus tard svp (genre dans 5 min)</h2>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

</div>


{% endblock %}