{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


    <div class="container">


        <h2>Labelisation des tweets</h2>


        <ul>
        <div>
            <p>
               Thank you
            </p>
        </div>
        <form action="" method="post"> {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="next" class="btn btn-primary"/>
            <input type="submit" value="finish" class="btn btn-success"/>
        </form>

        </ul>
    </div>

{% endblock %}